@import "@/styles/variables.scss";

.svg {
  grid-area: readed;

  & .path_first {
    animation: read $tr-time linear forwards;

    & + path {
      animation: read $tr-time $tr-time / 2 linear forwards;
    }
  }
}

@keyframes read {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
