@import "@/styles/variables.scss";

.dateInfo {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: $fs-m;
  color: $gray;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0.5) 85%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (max-width: $lg-screen) {
  .dateInfo {
    font-size: $fs-s;
  }
}
