@import "@/styles/variables.scss";

.menuBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  padding: 11px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all $tr-time ease-in-out;

  &:hover path {
    fill: $blue;
  }
}
