// COLORS

$white: #ffffff;
$blue: #007aff;
$gray: #666668;
$gray-dark: #2c2c2e;

$bg-gray: #f2f2f7;
$bg-blue: #007aff;

$info-color: #f2f2f7;
$avatar-border-color: #1e1e1e1a;
$read-icon-color: #81e299;
$upload-icon-color: #3d3d3d;
$smile-icon-color: #2c2c2e;
$online-status-color: #34c759;
$send-disabled-color: #8e8e93;
$border-color: #e5e5ea;

// TYPOGRAPHY
$fs-s: 12px;
$fs-m: 14px;
$fs-l: 16rem;

$ligth-text: "EloquiaText-ExtraLight", sans-serif;
$bold-text: "EloquiaText-ExtraBold", sans-serif;

// BREAKPOINTS
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;

// TRANSITIONS

$tr-time: 0.4s;

// ELEMENTS

$border-radius: 6px;
